@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background: transparent;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
